<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Relembrar-me</title>
    <style>

    </style>
</head>
<body>
<h1>Hello <b>{name ?: "Qute"}</b></h1>

<p>Envie uma mensagem pro futuro quando deseja ser notificado</p>

<form action="" method="post">
    <div>
        <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <input type="email" name="email" id="">
    </div>
    <div>
        <input type="date" name="date" id="">
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>

</form>
</body>
</html>
